@forward 'globals';

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: background-color 500ms ease-out 200ms;
    -moz-transition: background-color 500ms ease-out 200ms;
    -o-transition: background-color 500ms ease-out 200ms;
    transition: background-color 500ms ease-out 200ms;
}

div {
    display: block;
}

a {
    color: black;
}
a:hover {
    color: #251d20;
}

p {
    color: #251d20;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
}

.container {
    margin: 0;
    padding: 0;
}

.footer .description a {
    text-decoration: underline;
}
